<a href="{% url 'logout' %}">Logout</a>
<h2>Details: {{ object.name }}</h2>

<b>Ingredients: </b>
<ul>
    {% for ingredient in object.ingredients.all %}
        <li>{{ ingredient.name }}</li> <!-- Adjust depending on your Ingredient model's fields -->
    {% empty %}
        <li>No ingredients available.</li>
    {% endfor %}
</ul>

<b>Cook Time: </b> {{ object.cook_time }} <br>

<b>Difficulty: </b> {{ object.difficulty }} <br>

<img src="{{ object.pic.url }}" width="300" height="300" style="object-fit: cover; padding: 10px;" />

