<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- You can add CSS links here -->
</head>
<body>

    <header>
        <h1>Login</h1>
    </header>

    <main>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %} <!-- Add Django security token -->

            <!-- Print the form received from the view -->
            {{ form }}

            <button type="submit">Login</button>
        </form>
    </main>

</body>
</html>
